body {
    background-color: #F9F7F0;
}

/* Barre de Navigation */
nav.navbar, aside {
    background-color: #178CA4;
    color: #F9F7F0;
}
nav.navbar {
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}
aside.nav {
    border-radius: 1.5em;
}
nav a:hover, aside a:hover {
    font-weight: bold;
}
aside h3, nav h3 {
    color: #F9F7F0;
}
.nav-link {
    color: #F9F7F0;
}
/* Barre de Navigation */


/* Main - Articles */
main {
    color: #072A40;
}
h1 {
    background-color: #072A40;
    color: #F9F7F0;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
h2 {
    background-color: #18B7BE;
    color: #072A40;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
/* Main - Articles */


/* Footer */
footer {
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    background-color: #072A40;
    color: #F9F7F0;
    text-align: center;
}
footer a:link, footer a:visited, footer a:active {
    text-decoration: underline;
    color: #F9F7F0;
}
/* Footer */